<%layout("layout/boilerplate3")%>
<link rel="stylesheet" href="styles/home.css">
<div class="container mt-5">
    <h1 class="h1">Garbage management app</h1>
    <div class="a_item w-100 d-flex flex-column justify-content-center align-items-center">
        
        <div class="a-cont my-3">
            <i class="fa-solid fa-circle-info icon"></i>
            <div class="a_info ">
                <p class="h4 "><a href="/driver_works" class="text-decoration-none text-dark">Best route and works</a></p>
                <i class="fa-solid fa-greater-than icon_2"></i>
            </div>                
        </div>
        
        

    </div>
</div>
