<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SWIFT RECYCLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile_menu" aria-controls="mobile_menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile_menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link me-3" href="/user_home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3" href="/register_complaint">Register complaints</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3" href="/my_complaints">My complaints</a>
                </li>
                
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/user_login"><span class="glyphicon glyphicon-user"></span> Login</a>
                </li>
                <%}else{%>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
                </li>
                <%}%>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                   
                </li>
            </ul>
        </div>
    </div>
</nav>
