<%layout("layout/boilerplate0")%>
    <link rel="stylesheet" href="./styles/credential/home.css">
    <div class="w-content ">
        <div class="container-fluid d-flex justify-content-start font-monospace">
            <h1 class="h1 fw-bold">Swift Recycle</h1>
        </div>
        <div class="container">
            <div class="identification d-flex justify-content-center align-items-center">
                <h1 class="h1  text-dark">Who are you?</h1>
            </div>
            <div class="box w-60 d-flex justify-content-center">
                <div class="b-con d-flex">
                    <div class="image">
                        <img class="im" src="/images/driver.png" alt="">
                        <a href="/driver_login" class="d-block text-center text-decoration-none text-dark fs-3 mt-2">Driver</a>
                    </div>
                    <div class="image">
                        <img class="im" src="/images/user.png" alt="">
                        <a href="/user_login" class="d-block text-center text-decoration-none text-dark fs-3 mt-2">User</a>
                    </div>
                    <div class="image">
                        <img  class="im" src="/images/admin.png" alt="">
                        <a href="/admin_login" class="d-block text-center text-decoration-none text-dark fs-3 mt-2">Admin</a>
                    </div>
                </div>
            </div>

        </div>
    </div>